<article
  *ngFor="let image of images"
  style="--background-image-url: url('{{ image.url }}')"
  (click)="selectImage(image)"
>
  <picture
    [ngStyle]="{ backgroundImage: 'url(' + image.thumbnail + ')' }"
  >
    <img [src]="image.url" [alt]="image.label" (load)="loaded($event)" />
    <div>
      <button (click)="deletedFile(image.id!, $event)">Eliminar</button>
      <p>{{ image.label }}</p>
    </div>
  </picture>
</article>
<image-preview
  *ngIf="showPreview"
  [image]="selectedImage"
  (close)="showPreview = false"
></image-preview>
