:host {
  margin-top: 25px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px; */
  display: block;
  column-gap: 45px;
}

article {
  margin-bottom: 10px;
  position: relative;
}

article::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 16px;
  background-position: center;
  background: var(--background-image-url);
  background-size: cover;
  opacity: 0.7;
  filter: blur(5px);
  transform: translateX(3px) translateY(3px);
}

picture {
  display: grid;
  position: relative;
  place-content: center;
  border-radius: 16px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

picture img {
  width: 100%;
  display: block;
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.5s linear;
}

picture div {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

picture div button {
  --color: orange;
  background: none;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 38px;
  font-size: 14px;
  font-weight: 500;
/*   line-height: 12px; */
  padding: 4px 12px;
  align-self: flex-end;
  cursor: pointer;
}

picture div p {
  color: white;
  font-weight: bold;
  line-height: 21px;
  font-size: 18px;
  text-transform: capitalize;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  align-self: flex-start;
}

picture:hover div {
  opacity: 1;
}

picture:hover img {
  filter: blur(3px);
}

@media only screen and (min-width: 640px) {
  :host {
    margin-top: 25px;
    columns: 2;
    column-gap: 10px;
  }
}

@media only screen and (min-width: 930px) {
  :host {
    margin-top: 75px;
    columns: 3;
    column-gap: 45px;
  }
  article {
    margin-bottom: 45px;
  }
  article::before {
    transform: translateX(10px) translateY(10px);
    filter: blur(10px);
  }
}
