<article
  *ngFor="let image of images"
  style="--background-image-url: url('{{ image.image_path }}')"
>
  <picture
    [ngStyle]="{ backgroundImage: 'url(' + image.image_path_thumbnail + ')' }"
  >
    <img [src]="image.image_path" [alt]="image.label" (load)="loaded($event)" />
    <div>
      <button (click)="deletedFile(image.id!)">Eliminar</button>
      <p (click)="selectImage(image)">{{ image.label }}</p>
    </div>
  </picture>
</article>
<image-preview
  *ngIf="showPreview"
  [image]="selectedImage"
  (close)="showPreview = false"
></image-preview>
